<h1>Interesting People</h1>
<div id="app">
  <ul id="errors">
    <li v-for="error in errors">{{ error }}</li>
  </ul>
  <div>
    Name: <input v-model="newPersonName">
    Bio: <input v-model="newPersonBio">
    <button v-on:click="addPerson(newPersonName, newPersonBio)">Add Person</button>
  </div>
  <div>
    Filter name: <input v-model="nameFilter" list="names-list">
    <datalist id="names-list">
      <option v-for="person in people">{{ person.name }}</option>
    </datalist>
  </div>
  <div>
    <button v-on:click="toggleOrder('name')">Order by name</button>
    <button v-on:click="toggleOrder('bio')">Order by bio</button>
  </div>
  <div v-for="person in people | filterBy nameFilter in 'name' | orderBy orderAttribute orderDescending">
    <h2 v-on:click="toggleBio(person)">{{ person.name }}</h2>
    <p v-bind:class="{ strike: person.bioStrikeThrough }">{{ person.bio }}</p>
    <a href="#" v-on:click="deletePerson(person)">Delete</a>
  </div>
</div>
