<h1>Interesting People</h1>
<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="setup()">
    <ul id="errors">
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <div>
      Name: <input ng-model="newPersonName">
      Bio: <input ng-model="newPersonBio">
      <button ng-click="addPerson(newPersonName, newPersonBio)">Add Person</button>
    </div>
    <div>
      Filter name: <input ng-model="nameFilter" list="names-list">
      <datalist id="names-list">
        <option ng-repeat="person in people">{{ person.name }}</option>
      </datalist>
    </div>
    <div>
      <button ng-click="toggleOrder('name')">Order by name</button>
      <button ng-click="toggleOrder('bio')">Order by bio</button>
    </div>
    <div ng-repeat="person in people | filter: {name: nameFilter} | orderBy:orderAttribute:orderDescending">
      <h2 ng-click="toggleBio(person)">{{ person.name }}</h2>
      <p ng-class="{ strike: person.bioStrikeThrough }">{{ person.bio }}</p>
      <a href="#" ng-click="deletePerson(person)">Delete</a>
    </div>
  </div>
</div>
