<h1>Interesting People</h1>
<div id="app">
  <div>
    Name: <input v-model="newPersonName">
    Bio: <input v-model="newPersonBio">
    <button v-on:click="addPerson(newPersonName, newPersonBio)">Add Person</button>
  </div>
  <div>
    Filter name: <input v-model="nameFilter">
  </div>
  <div v-for="person in people | filterBy nameFilter in 'name'">
    <h2 v-on:click="toggleBio(person)">{{ person.name }}</h2>
    <p v-bind:class="{ strike: person.bioStrikeThrough }">{{ person.bio }}</p>
    <a href="#" v-on:click="deletePerson($index)">Delete</a>
  </div>
</div>
